.faq-wrapper {
  padding: 3rem 0rem;
  max-width: 1300px;
  margin: 0 auto;
  text-align: center;
  color: var(--text-color);

  @media (max-width: 480px) {
    padding: 2rem 1rem;
  }

  .faq-title {
    font-size: 2.5rem;
    font-weight: 700;
    background: linear-gradient(6deg, var(--text-color) 20%, #f97316 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .faq-subtitle {
    margin-bottom: 2rem;
    color: var(--text-color);
  }

  .faq-columns {
    display: flex;
    gap: 1.5rem;
    justify-content: center;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    .faq-column {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .faq-item {
      background: var(--secondary-background);
      color: var(--text-color);
      border-radius: 1rem;
      padding: 1.2rem 1.5rem;
      cursor: pointer;
      text-align: left;
      transition: background 0.3s ease;
      border: 1px solid #e6f1f8;

      &:hover {
        background: #0891b2;
        color: #fff;
      }

      .faq-question {
        font-size: 1.1rem;
        font-weight: 600;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .icon {
          transition: transform 0.3s ease;
          color: var(--text-color);
          fill: var(--text-color);
        }

        .rotate {
          transform: rotate(180deg);
        }
      }

      .faq-answer {
        margin-top: 1rem;
        color: var(--text-color);
        line-height: 1.6;
        animation: fadeIn 0.3s ease-in-out;
      }

      &.active {
        background: var(--secondary-background);
        color: var(--text-color);
      }
    }
  }
}

// Smooth fade in animation
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
