.page-layout {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  // display: grid;
  // grid-template-columns: 3fr 1fr;
  // gap: 2rem;
  // padding: 2rem;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  @media screen and (max-width: 480px) {
    width: 95%;
  }
}

.main-content {
  background-color: var(--secondary-background);
  padding: 1rem 1rem;
  margin-top: 80px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);

  @media screen and (max-width: 480px) {
    padding: 1rem 0.8rem !important;
  }
}
