<section id="contact" class="contact">
    <div class="container">
        <div class="section-header">
            <h2>Get In Touch</h2>
            <p>We’d love to hear from you. Fill out the form below</p>
        </div>

        <div class="contact-content">
            <div class="contact-info">
                <!-- <h3>Visit </h3> -->
                <div class="info-items">
                    <div class="info-item">
                        <div class="icon">
                            <i class="fas fa-map-marker-alt"></i>
                        </div>
                        <div class="details">
                            <h4>Our Location</h4>
                            <p>Nagla Sidar, Shekhpur Khurd, Mahdawa, <br> Uttar Pradesh 207123</p>
                        </div>
                    </div>

                    <div class="info-item">
                        <div class="icon">
                            <i class="fas fa-phone"></i>
                        </div>
                        <div class="details">
                            <h4>Call Us</h4>
                            <p>+91 {{ "9953096599" | maskPhone }}</p>
                        </div>
                    </div>

                    <div class="info-item">
                        <div class="icon">
                            <i class="fas fa-clock"></i>
                        </div>
                        <div class="details">
                            <h4>Working Hours</h4>
                            <p>Mon - Sat: 9:00 PM - 10:30 PM<br>Sun: 10:00 AM - 6:00 PM</p>
                        </div>
                    </div>

                    <div class="info-item">
                        <div class="icon">
                            <i class="fas fa-envelope"></i>
                        </div>
                        <div class="details">
                            <h4>Email Us</h4>
                            <p>{{ "satendracoder@gmail.com" | maskEmail }}</p>
                        </div>
                    </div>
                </div>

                <div class="social-links">
                    <h4>Follow Us</h4>
                    <div class="social-icons">
                        <a href="https://www.linkedin.com/in/satendracoder/" target="_blank" rel="noopener">
                            <img src="/assets/icons/social/linkedin.svg" alt="LinkedIn" />
                        </a>

                        <a href="https://www.instagram.com/satendracoder/" target="_blank" rel="noopener">
                            <img src="/assets/icons/social/instagram.svg" alt="instagram" />
                        </a>
                        <a href="https://github.com/satendracoder" target="_blank" rel="noopener">
                            <img src="/assets/icons/social/github.svg" alt="GitHub" />
                        </a>
                        <a href="https://www.youtube.com/@satendracoder" target="_blank" rel="noopener">
                            <img src="/assets/icons/social/youtube.svg" alt="youtube" />
                        </a>
                    </div>
                </div>
            </div>

            <div class="contact-form-container">
                <form #contactForm="ngForm" (ngSubmit)="submitMemberForm(contactForm)">
                    <div class="form-group">
                        <label for="name">Full Name</label>
                        <input id="name" name="name" type="text" required [(ngModel)]="memberData.name"
                            #name="ngModel" />
                        @if (name.invalid && name.touched) {
                        <small class="error">Name is required</small>
                        }
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input id="email" name="email" type="email" required [(ngModel)]="memberData.email"
                            #email="ngModel" />
                        @if (email.invalid && email.touched) {
                        <small class="error">Valid email is required</small>
                        }
                    </div>

                    <div class="form-group">
                        <label for="mobile">Mobile</label>
                        <input id="mobile" name="mobile" type="tel" required pattern="^[0-9]{10}$"
                            [(ngModel)]="memberData.mobile" #mobile="ngModel" />
                        @if (mobile.invalid && mobile.touched) {
                        <small class="error">10-digit mobile number
                            required</small>
                        }
                    </div>

                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea id="message" name="message" rows="4" required minlength="20"
                            [(ngModel)]="memberData.message" #message="ngModel"></textarea>
                        @if (message.errors?.['minlength'] && message.touched) {
                        <small class="error">
                            Message must be at least 20 characters
                        </small>
                        }
                        @if (message.errors?.['required'] && message.touched) {
                        <small class="error">
                            Message is required
                        </small>
                        }
                    </div>

                    <button type="submit" [disabled]="contactForm.invalid">Send Message</button>
                </form>
            </div>
        </div>
    </div>
</section>