.coder_max {
  width: 100%;
  background: linear-gradient(120deg, #3071ab, #3071ab, #00e8b5);
  color: #fff;
  margin: auto;

  .banner {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 20px;

    @media screen and (max-width: 480px) {
      width: 100% !important;
      margin: auto;
    }

    .banner-content {
      max-width: 100%;
      padding: 30px 0px;
      text-align: center;

      @media screen and (max-width: 480px) {
        max-width: 95% !important;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      h1 {
        font-size: 2rem;
        padding: 30px 0px;
        text-align: center;
        transform: translateX(50px);
        animation: fadeInUp 0.9s ease-in-out forwards;
      }

      p {
        font-size: 1rem;
        margin-bottom: 1.5rem;
        text-align: center;
      }

      .actions {
        display: flex;
        gap: 1rem;
        padding: 20px 0px;
        justify-content: center;

        .primary-btn {
          padding: 0.75rem 1.5rem;
          background-color: #4a90e2;
          color: #fff;
          border: none;
          border-radius: 5px;
          cursor: pointer;
        }

        .secondary-btn {
          padding: 0.75rem 1.5rem;
          background-color: transparent;
          color: #fff;
          border: 1px solid #fff;
          border-radius: 5px;
          cursor: pointer;

          span {
            color: #e74c3c;
          }
        }
      }

      .students-info {
        display: flex;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        justify-content: center;
        transform: translateX(50px);
        animation: fadeInUp 0.9s ease-in-out forwards;

        .students-avatars {
          display: flex;

          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: -10px;
          }
        }

        span {
          margin-left: 1rem;
        }
      }
    }
  }
}

// Mobile responsiveness
@media (max-width: 768px) {
  .banner {
    flex-direction: column;

    .banner-content {
      max-width: 100%;
      text-align: center;
    }
  }
}
