/* Dark theme */
body.dark-theme {
  --background-color: #23242c;
  --text-color: #ddd;
  --secondary-background: #303138;
  --btn-background-color: #26a69a;

  // Roadmap Specific
  --roadmap-background-color: #111827;

  // Compiler
  --compiler-bg-color: #1e1e1e;
}

body.dark-theme {
  background-color: var(--background-color);
  color: var(--text-color);
}

body.dark-theme .dark_mode_1 {
  background-color: var(--menu-background-color) !important;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

body.dark-theme .primary_text {
  color: var(--text-color) !important;
}

body.dark-theme .primary_button {
  color: var(--text-color) !important;
  background-color: var(--btn-background-color);
}
