/* Light theme */
body.light-theme {
  //for body only
  --background-color: #f5f5f5;
  --text-color: #000000;
  --secondary-background: #ffffff;
  --btn-background-color: #26a69a;

  // Roadmap Specific
  --roadmap-background-color: #f6f9fc;

  // Compiler
  --compiler-bg-color: #fff;
}

body.light-theme {
  background-color: var(--background-color);
  color: var(--text-color);
}
