.login_container {
  width: 100%;
  margin: auto;
  height: 100%;
  display: flex;
  background-color: #f0f0f0;
  background-image: radial-gradient(at 17% 0%, #f0f0f0 0, transparent 50%),
    radial-gradient(at 98% 1%, #f0f0f0 0, transparent 50%),
    radial-gradient(at 33% 87%, #f0f0f0 0, transparent 50%),
    radial-gradient(at 65% 86%, #f0f0f0 0, transparent 50%),
    radial-gradient(at 61% 21%, #f0f0f0 0, transparent 50%),
    radial-gradient(at 31% 31%, rgba(105, 82, 255, 0.8) 0, transparent 50%),
    radial-gradient(at 64% 56%, #30e8bd 0, transparent 50%),
    radial-gradient(at 67% 59%, #75dfff 0, transparent 50%);
}

.login-modal {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0px 1px var(--text-color);
  width: 450px;
  max-width: 100%;
  margin: auto;
  padding: 30px 40px;
  color: #000;
  font-family: Arial, sans-serif;
  position: relative;

  .login_top_logo {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px 0px;
    border: 1px solid transparent;

    img {
      width: 150px;
    }
  }

  .login-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;

    h2 {
      margin: 0;
      font-weight: 600;
      padding-bottom: 5px;
      text-decoration: underline;
    }

    .close-btn {
      background: none;
      border: none;
      font-size: 2.2rem;
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 20px;

      &:focus {
        outline: none !important;
        /* Focus ke liye border remove kare */
        border: none !important;
        /* Kisi bhi border ko disable kare */
      }

      a {
        text-decoration: none;
        color: #000;
        position: absolute;
        top: 15px;
        right: 15px;
      }
    }
  }

  .login-body {
    text-align: center;

    .signup-link {
      color: #0073e6;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        color: #26a69a;
      }
    }

    .social-login {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;

      .social-btn {
        display: flex;
        align-items: center;
        justify-content: space-around;
        background: #f5f5f521;
        border: 1.5px solid #ddd;
        border-radius: 5px;
        padding: 10px;
        font-size: 1rem;
        font-weight: 600;
        cursor: pointer;
        transition: transform 0.3s;

        &:hover {
          transform: translateY(-5px);
          border: 1px solid #26a69a;
        }

        img {
          width: 20px;
          height: 20px;
          margin-left: 10px;
        }
      }

      .google {
        color: #ea4335;
      }

      .facebook {
        color: #4267b2;
      }

      .github {
        color: #333;
      }

      .feide {
        color: #ff9900;
      }
    }

    .or-divider {
      margin: 10px 0;
      font-size: 0.9rem;
      color: #666;
    }

    form {
      display: flex;
      flex-direction: column;

      input {
        margin-top: 15px;
        padding: 10px;
        border: 1.5px solid #ddd;
        border-radius: 5px;
        font-size: 14px;
        background-color: transparent;
        color: #000;

        &:focus {
          outline: 1px solid #0073e6;
          box-shadow: 0px 0px 5px #0073e6;
        }
      }

      .form-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        padding: 15px 0px;

        .forgot-password {
          width: 100%;
          font-size: 0.9rem;
          color: #0073e6;
          text-decoration: none;
          border: 1px solid;
          padding: 10px 20px;
          border-radius: 8px;
          transition: transform 0.3s;

          &:hover {
            background-color: #0073e6;
            color: #fff;
            transform: translateY(-5px);
          }
        }

        .login-btn {
          width: 100%;
          padding: 10px 20px;
          background: linear-gradient(135deg, #06b6d4, #0891b2) !important;
          color: white;
          font-size: 0.9rem;
          border: none;
          border-radius: 8px;
          cursor: pointer;
          transition: transform 0.3s;

          &:hover {
            background-color: #fff;
            color: #012643;
            border: 1px solid;
            transform: translateY(-5px);
            font-weight: 500;
          }
        }
      }
    }
  }

  .password-container {
    position: relative;
    margin: 2px 0px;

    input {
      width: 100%;
      padding-right: 40px; // Space for the icon
    }

    .toggle-password {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;

      img {
        width: 20px;
        height: 20px;
        margin-top: 15px;
      }
    }
  }
}

.error-message {
  color: red;
  font-size: 0.875rem;
  margin-top: 0px;
  text-align: left;
}

input:invalid {
  border: 1px solid red;
}

input:valid {
  border: 1px solid green;
}

@media (max-width: 480px) {
  .login-modal {
    width: 85%;
    margin: auto;
  }

  input {
    width: 100% !important;
    padding-right: 40px; // Space for the icon
  }
}

.list-card-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-bottom: 1%;
  color: #012643;
  font-weight: 600;
  padding: 10px 10px;

  .text {
    padding: 0 10px;
    /* Adjust the spacing between the text and lines */
    white-space: nowrap;
    /* Prevents text from wrapping */
    color: #000;
  }

  .line {
    width: 70px;
    height: 1px;
    background-color: #dcdcdc;

    /* You can change the color if needed */
    @media screen and (max-width: 1040px) {
      width: 40px;
    }

    @media screen and (max-width: 992px) {
      width: 30px;
    }
  }
}
