.output-box {
  background-color: var(--compiler-bg-color);

  padding: 0px;
  border-radius: 0px;
  color: #dbeafe;
  height: 100%;
  font-family: monospace;
  overflow-y: auto;

  .output-flex {
    display: flex;
    flex-direction: column;

    .output-header {
      h3 {
        margin: 0 0 10px 0;
        font-size: 16px;
        font-weight: 600;
        padding: 14px;
        color: #fff;
        background: linear-gradient(135deg, #06b6d4, #0891b2);
        box-shadow: 0 2px 6px rgba(6, 182, 212, 0.3019607843);
      }
    }

    .output-body {
      display: flex;
      padding: 14px;

      pre {
        font-size: 13px;
        line-height: 1.4;
        white-space: pre-wrap;
        word-break: break-word;
        color: var(--text-color);
      }

      .err {
        color: #fb7185;
        font-weight: 700;
      }
    }
  }
}
