<section class="connect-section">
    <button class="contact-btn">
        <span class="icon">👥</span> Community
    </button>

    <h2>Let's Connect & Collaborate</h2>
    <p>
        Join discussions, ask questions, and connect with fellow learners.
    </p>

    <div class="social-links">
        <a href="mailto:satendracaria@gmail.com" class="link email">
            <img src="/assets/icons/social/email.svg" alt="Email" />
            satendracaria&#64;gmail.com
        </a>
        <a href="https://wa.me/918859758708" target="_blank" class="link twitter">
            <img src="/assets/icons/social/whatsapp.svg" alt="GitHub" />
            Chat Now
        </a>
        <a href="https://linkedin.com/in/satendracoder" target="_blank" class="link linkedin">
            <img src="/assets/icons/social/linkedin.svg" alt="LinkedIn" />
            LinkedIn
        </a>
        <a href="https://www.instagram.com/satendracoder" target="_blank" class="link twitter">
            <img src="/assets/icons/social/instagram.svg" alt="Twitter" />
            Instagram
        </a>
        <a href="https://github.com/satendracoder" target="_blank" class="link github">
            <img src="/assets/icons/social/github.svg" alt="GitHub" />
            GitHub
        </a>
        <a href="https://youtube.com/@satendracoder" target="_blank" class="link linkedin">
            <img src="/assets/icons/social/youtube.svg" alt="youtube" />
            YouTube
        </a>

        <a href="https://discord.gg/jREkRt5e" target="_blank" class="link email">
            <img src="/assets/icons/social/discord.svg" alt="discord" />
            Discord
        </a>
    </div>
</section>