.theme-toggle {
  width: fit-content;
  display: flex;
  // border-radius: 999px;
  // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  justify-content: space-evenly;
  gap: 10px;

  button {
    background: transparent;
    border: none;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;

    .material-icons {
      font-size: 22px;
      color: #666;
    }

    &.active {
      //background-color: #ffffff;
      //box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);

      .material-icons {
        color: var(--text-color);
      }
    }
  }
}
