.wrapper {
  width: 100%;
  background: var(--background-color);
  padding: 2rem 0;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  text-align: center;

  .carousel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 480px) {
      flex-direction: column;

      gap: 1rem;
    }

    .header-content {
      .main-title {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 0.5rem;
        color: #f97316;

        margin-left: 1.5rem;

        @media (max-width: 48px) {
          margin: 0;
          text-align: center;
        }
      }

      p {
        margin-bottom: 0.5rem;
        margin-left: 1.5rem;
        @media (max-width: 768px) {
          margin: 0;
          text-align: center;
        }
      }

      .arrow {
        background: white;
        border: none;
        font-size: 10px;
        font-weight: bold;
        cursor: pointer;
        padding: 9px 10px;
        border-radius: 50%;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
        transition: background 0.3s ease;
        z-index: 99;

        &:hover {
          background: #f0f0f0;
        }

        &:disabled {
          opacity: 0.4;
          cursor: not-allowed;
        }
      }

      .arrow.left {
        left: 10px;
      }

      .arrow.right {
        right: 10px;
      }
    }
  }

  .carousel {
    position: relative;
    overflow: hidden;
    margin-bottom: 2rem;

    .carousel-track {
      display: flex;
      transition: transform 0.5s ease;
      gap: 20px;
      padding: 15px 0px;

      @media (max-width: 480px) {
        gap: 20px !important;
        padding: 15px 0px !important;
        width: 85% !important;
        margin: 0 auto !important;
      }

      .course-card {
        width: auto;
        background-color: var(--secondary-background);
        border-radius: 14px;
        overflow: hidden;
        border: 1px solid #e5e5e5;
        position: relative;
        box-shadow: 0 0px 6px rgba(0, 0, 0, 0.08);
        color: var(--text-color);

        /* Banner */
        .banner {
          transition: all 0.3s ease-in-out;

          &:hover {
            transform: scale(1.05);
            transition: all 0.3s ease-in-out;
          }
          img {
            width: 100%;
            display: block;
          }
        }

        /* Diagonal Ribbon */
        .corner-ribbon {
          width: 140px;
          background: #ff9800;
          position: absolute;
          top: 15px;
          right: -35px;
          text-align: center;
          transform: rotate(45deg);
          padding: 6px 0;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);

          span {
            color: #fff;
            font-size: 10px;
            font-weight: 700;
            text-transform: uppercase;
          }
        }

        /* Card Body */
        .card-body {
          padding: 18px;

          .badge-row {
            display: flex;
            gap: 8px;
            margin-bottom: 12px;

            .badge {
              padding: 4px 10px;
              border-radius: 20px;
              font-size: 11px;
              font-weight: 700;

              &.best {
                background: #ffcc00;
                color: #000;
              }

              &.cohort {
                background: #6a5acd;
                color: #fff;
              }
            }
          }

          .title {
            font-size: 1rem;
            font-weight: 700;
            margin-bottom: 6px;
            color: var(--text-color);
          }

          .desc {
            font-size: 14px;
            color: #a9a9a9;
            margin-bottom: 18px;
            line-height: 1.5em;
          }

          .action-row {
            display: flex;
            gap: 12px;

            .btn {
              padding: 12px 14px;
              border-radius: 8px;
              font-size: 14px;
              font-weight: 600;
              cursor: pointer;
              width: 50%;
              border: none;

              &.primary {
                background: #f97316;
                color: #fff;
                &:hover {
                  background: #c45404;
                }
              }

              &.outline {
                border: 2px solid #f97316;
                background: transparent;
                color: var(--text-color);

                &:hover {
                  background: #c45404;
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }

  .btn-primary {
    background: #f97316;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
      background: #c45404;
    }
  }
}
