.courses-width {
  width: 100%;
  background: transparent;
  .container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 35px 0px;
    margin-top: 75px;
    @media (max-width: 480px) {
      width: 95%;
      padding: 15px;
    }

    .breadcrumb {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      color: #777;
      gap: 5px;

      a {
        color: #5a36f0;
        font-weight: 500;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      .divider {
        margin-top: 4px;
        svg {
          fill: var(--text-color);
        }
      }

      .current {
        color: var(--text-color);
        font-weight: 400;
        cursor: pointer;
      }

      @media (max-width: 600px) {
        font-size: 13px;
      }
    }

    .top-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;
      margin-top: 20px;

      @media (max-width: 768px) {
        flex-direction: column;
        gap: 15px;
      }

      .header-section {
        display: flex;
        flex-direction: column;

        .title {
          font-size: 26px;
          margin-bottom: 20px;
          font-weight: 700;
        }
      }

      .search-box {
        display: flex;
        width: 350px;
        margin-bottom: 25px;

        input {
          width: 100%;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 8px 0 0 8px;
          outline: none;
          font-size: 15px;
        }

        button {
          width: 50px;
          border: none;
          border-radius: 0 8px 8px 0;
          background: #5a36f0;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          span {
            color: #fff;
          }
        }
      }
    }

    .course-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
      gap: 12px;

      // Tablet (768px se niche)
      @media (max-width: 992px) {
        grid-template-columns: repeat(2, 1fr);
      }

      // Mobile (600px se niche)
      @media (max-width: 600px) {
        grid-template-columns: 1fr;
        gap: 25px;
      }
    }

    .course-card {
      width: auto;
      background-color: var(--secondary-background);
      border-radius: 14px;
      overflow: hidden;
      border: 1px solid #e5e5e5;
      position: relative;
      box-shadow: 0 0px 6px rgba(0, 0, 0, 0.08);
      color: var(--text-color);

      /* Banner */
      .banner {
        transition: all 0.3s ease-in-out;

        &:hover {
          transform: scale(1.05);
          transition: all 0.3s ease-in-out;
        }
        img {
          width: 100%;
          display: block;
        }
      }

      /* Diagonal Ribbon */
      .corner-ribbon {
        width: 140px;
        background: #ff9800;
        position: absolute;
        top: 15px;
        right: -35px;
        text-align: center;
        transform: rotate(45deg);
        padding: 6px 0;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);

        span {
          color: #fff;
          font-size: 10px;
          font-weight: 700;
          text-transform: uppercase;
        }
      }

      /* Card Body */
      .card-body {
        padding: 18px;

        .badge-row {
          display: flex;
          gap: 8px;
          margin-bottom: 12px;

          .badge {
            padding: 4px 10px;
            border-radius: 20px;
            font-size: 11px;
            font-weight: 700;

            &.best {
              background: #ffcc00;
              color: #000;
            }

            &.cohort {
              background: #6a5acd;
              color: #fff;
            }
          }
        }

        .title {
          font-size: 1rem;
          font-weight: 700;
          margin-bottom: 6px;
          color: var(--text-color);
        }

        .desc {
          font-size: 14px;
          color: #a9a9a9;
          margin-bottom: 18px;
          line-height: 1.5em;
        }

        .action-row {
          display: flex;
          gap: 12px;

          .btn {
            padding: 12px 14px;
            border-radius: 8px;
            font-size: 14px;
            font-weight: 600;
            cursor: pointer;
            width: 50%;
            border: none;

            &.primary {
              background: #f97316;
              color: #fff;
              &:hover {
                background: #c45404;
              }
            }

            &.outline {
              border: 2px solid #f97316;
              background: transparent;
              color: var(--text-color);

              &:hover {
                background: #c45404;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}
