.editor-box {
  width: 100%;
  background-color: var(--compiler-bg-color);
  .editor-flex {
    display: flex;
    flex-direction: column;
    gap: 0px;
    .editor-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #fff;
      background: linear-gradient(135deg, #06b6d4, #0891b2);
      box-shadow: 0 2px 6px rgba(6, 182, 212, 0.3019607843);
      .language {
        font-size: 16px;
        font-weight: 600;
        padding: 12px;
      }

      .language_save {
        display: flex;
        gap: 10px;
        padding: 0px 10px;
        input {
          width: min-content;
          max-width: 80px;
          padding: 10px;
          border-radius: 10px;
          background: #000;
          border: none;
          color: #fff;
          outline: none;
          border: 0.5px solid #aba9a9;
          cursor: pointer;
        }
        .btn {
          padding: 8px 16px;
          border-radius: 10px;
          cursor: pointer;

          background: #22c55e;
          border: none;
          color: #fff;
          outline: none;
          border: 0.5px solid #aba9a9;
          cursor: pointer !important;
          transition: 0.3s all ease-in-out;
          &:hover {
            background-color: #22c55eb7;
            transform: scale(1.01);
          }
        }
      }
    }
    .editor {
      width: 100%;
      height: 100vh;
      background: #111827 !important;
    }
  }
}
