.editor-box {
  width: 100%;
  background-color: #111827;
  .editor-flex {
    display: flex;
    flex-direction: column;
    gap: 0px;
    .editor-header {
      font-size: 16px;
      font-weight: 600;
      padding: 12px;
      color: #fff;
      background: linear-gradient(135deg, #06b6d4, #0891b2);
      box-shadow: 0 2px 6px rgba(6, 182, 212, 0.3019607843);
    }
    .editor {
      width: 100%;
      height: 100vh;
      background: #111827 !important;
    }
  }
}
