<div class="become-member-wrapper">
    <div class="become-member-container">
        <button class="close" (click)="closeAndRedirect()">×</button>
        <h2>Invite Satendra – Fill Out the Contact Form</h2>

        <form (ngSubmit)="onSubmit(memberForm)" #memberForm="ngForm" class="member-form">

            <div class="form-flex">

                <!-- LEFT SIDE -->
                <div class="form-left">

                    <!-- Name -->
                    <div class="form-group">
                        <label for="name">Full Name *</label>
                        <input type="text" id="name" name="name" ngModel #name="ngModel" required minlength="3"
                            placeholder="Enter your full name" />
                        @if (name.invalid && name.touched) {
                        <small class="error">
                            Name is required (min 3 characters).
                        </small>
                        }

                    </div>

                    <!-- Email -->
                    <div class="form-group">
                        <label for="email">Email Address *</label>
                        <input type="email" id="email" name="email" ngModel #email="ngModel" required email
                            placeholder="Enter your email" />
                        @if (email.invalid && email.touched) {
                        <small class="error">
                            Please enter a valid email.
                        </small>
                        }

                    </div>
                </div>

                <!-- RIGHT SIDE -->
                <div class="form-right">

                    <!-- Interest Dropdown -->
                    <div class="form-group">
                        <label for="interest">Purpose of Invite *</label>
                        <select id="interest" name="interest" ngModel #interest="ngModel" required>
                            <option value="" disabled selected>Select one</option>
                            <option value="university">University / College</option>
                            <option value="event">Event / Webinar</option>
                            <option value="workshop">Workshop / Training</option>
                            <option value="interview">Interview / Hiring</option>
                            <option value="collaboration">Project Collaboration</option>
                            <option value="learning-access">Course / Learning Access</option>
                            <option value="community">Community / Meetup</option>
                            <option value="others">Others</option>
                        </select>

                        @if (interest.invalid && interest.touched) {
                        <small class="error">
                            Please select an interest.
                        </small>
                        }

                    </div>


                    <!-- WhatsApp -->
                    <div class="form-group">
                        <label for="website">Enter your Website </label>
                        <input type="tel" id="website" name="website" ngModel #website="ngModel"
                            placeholder="https://www.satendracoder.com/" />

                        @if (website.invalid && website.touched) {
                        <small class="error">
                            Enter a valid 1Website (If you have?).
                        </small>
                        }

                    </div>
                </div>
            </div>

            <!-- Message -->
            <div class="form-group">
                <label for="message">Message (Optional)</label>
                <textarea id="message" name="message" ngModel rows="3" placeholder="Write your message..."></textarea>
            </div>

            <!-- Submit -->
            <div class="form-submit">
                <button type="submit" [disabled]="!memberForm.valid">Invite Satendra</button>
            </div>
        </form>
    </div>
</div>